<!doctype html>
<html ng-app="TodoList">
  <head>
    <meta charset="utf-8">
    <title>Todo List Manager</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/managelistCtrl.js"></script>
  </head>

  <body ng-controller='manageListCtrl as todoCtrl'>
    <div class="container" align="center">
      <form id="entry" class="form-horizontal">
        <input type="text" placeholder="new task" ng-model="todoCtrl.taskDesc">
        <button class="btn"ng-click="todoCtrl.addTask()" onClick="this.form.reset()">Add task</button>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>task</th>
            <th>date</th>
            <th>complete?</th>
          </tr>
        </thead>
        <tbody ng-repeat="task in todoCtrl.taskList | orderBy: 'date'| filter: taskFilter">
          <tr>
            <td>
              <input id="completed" type="checkbox" ng-click="todoCtrl.completeTask($index)">
            </td>
            <td>{{task.description}}</td>
            <td>{{task.date | date:"MM/dd/yyyy 'at' h:mma"}}</td>
            <td ng-hide="task.open"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
          </tr>
        </tbody>
      </table>
      </br>
      <div align="center">
      <button class="btn"ng-click="taskFilter = true">show open</button>
      <button class="btn"ng-click="taskFilter = false">show completed</button>
      <button class="btn"ng-click="taskFilter = undefined">show all</button></div>
      <div align="center">
        <p>Total tasks: <span style="color:blue">{{todoCtrl.taskList.length}}</span>
        </p>
        <p><span style="color:red">{{todoCtrl.taskList.length - todoCtrl.completedTasks}}</span> open task(s).
        </p>
        <p><span style="color:green">{{todoCtrl.completedTasks}}</span> completed task(s).
        </p>
      </div>
    </div>
  </body>
</html>